body
{
	background: #ffffff;
	margin: 0 auto;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	text-align: left;
	padding: 0 0 0 0;
}

#title
{
	background: #f4f4f4 url(header.gif) bottom right no-repeat;
	color: #515151;
	clear: both;
	margin: 0 0 0 0;
	padding: 0;
	height: 47px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 2px;
}

#contents
{
	background: #ffffff;
	padding: 0 10px 10px 10px;
	line-height: 1.6em;
	border-top-style: solid;
	border-top-color: #f4f4f4;
	border-top-width: 2px;
}

#iframecontents
{
	background: #ffffff;
	padding: 0 0 0 0;
	line-height: 1.6em;
	border-top-style: none;
}

pre
{
	background: #f4f4f4;
	color: #515151;
	width: 400px;
	margin: 10px 0px 10px 20px;
	font: 100% Courier New,Courier,sans-serif;
	text-align: left;
	padding: 5px 5px 5px 10px;
	border-style: solid;
	border-color: #E0E0E0;
	border-width: 1px;
}

h1
{
	padding: 10px 10px 10px 10px;
	font-size: 1.8em;
	margin: 0 0 0.5em 0;
}

h2
{
	color: #515151;
	font-size: 1.5em;
	margin: 1.5em 0 0.2em;
}

h3
{
	color: #515151;
	font-size: 1.1em;
	margin: 1.0em 0 0.1em;
}

img
{
	padding: 1px;
	display:inline;
	background: #FFFFFF;
	border: 0;
}

a
{
	text-decoration: none;
	color: #286ea0;
}

a:hover
{
	text-decoration: underline;
	color: #286ea0;
}

a img
{
	border: 0;
}

.left
{
	margin: 10px 10px 5px 0;
	float: left;
}

.right
{
	margin: 10px 0 5px 10px;
	float: right;
}

.textright
{
	text-align: right;
}

.center
{
	text-align: center;
}

.small
{
	font-size: 0.8em;
}

.bold
{
	font-weight: bold;
}

.grey
{
	color: #8C8C8C;
}

.greycenter
{
	color: #8C8C8C;
	text-align: center;
}

.fat
{
	color: #515151;
	font-size: 1.1em;
}

